* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

nav, footer { 
    height: 150px;

}

section {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
   }

form {
    border: 1px solid #dcf4fa;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    background-color: rgba(235, 236, 236, 0.137);
}

form p {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

form input, select{
    margin-bottom: 10px;
    height: 30px;
    border: none;
    padding: 5px;
}

#buto {
    background-color: rgba(145, 255, 102, 0.842);
    height: 40px;
    font-size: 16px;
}

form a, a:link, a:visited, a:active {
    text-decoration:none;
    color: rgb(223, 221, 221);
}

